<%- include ("./partials/head.ejs", {title:"Landing Page"})%> <%- include
("./partials/header.ejs")%>
<main>
  <div class="container-fluid">
    <div class="title-container text-center">
      <h1>WELCOME TO</h1>
      <p>My website page</p>
    </div>
  </div>
</main>

<%- include ("./partials/foot.ejs")%>
