<%- include('../partials/head', {title:'Login'})%>
<div style="height: 90vh;">
  <div class="container" style="height: 100%;">
    <div class="row" style="display: flex; justify-content: center;height: 100%;">
      <div class="col-6 m-auto align-self-center">
        <div class="content" style="border-radius: 1.5em; padding: 1.5em;">
          <div class="modal-header d-flex justify-content-center">
            <h1>Login</h1>
          </div>
          <form method="POST" action="/login">
            <div class="mb-3">
              <label for="exampleInputUsername" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputUsername" aria-describedby="usernameHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <p>Don't have an account yet? <a href="/register"> Register now</a></p>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

