<%- include ("../partials/head.ejs", {title:"Upload File"})%> <%-
include("../partials/header.ejs")%>
<main>
  <div class="container-fluid">
    <div class="title-container text-center">
      <h1>UPLOAD FILE PAGE</h1>
    </div>
  </div>
</main>

<%- include ("../partials/foot")%>
